.vscode/sftp.json
bitrix/full_course.php
bitrix/lesson.php
home/bitrix/www/index.php
home/bitrix/www/bitrix/components/bitrix/blog/.description.php
home/bitrix/www/bitrix/components/bitrix/blog/.parameters.php
home/bitrix/www/bitrix/components/bitrix/news/templates/.default/detail.php
home/bitrix/www/bitrix/components/bitrix/news/templates/.default/bitrix/news.detail/.default/template.php
home/bitrix/www/bitrix/components/bitrix/news.detail/component.php
home/bitrix/www/bitrix/components/mycomponents/button/class.php
home/bitrix/www/bitrix/templates/furniture_dark-blue/components/bitrix/news/.default/LessonHelper.php
home/bitrix/www/local/bitrix/component/button/btn.php
home/bitrix/www/local/bitrix/components/complete_lesson.php
home/bitrix/www/local/bitrix/components/complete_lesson/templates/.default/template.php
home/bitrix/www/local/bitrix/components/your_company/lesson_completion/class.php
home/bitrix/www/local/bitrix/components/your_company/lesson_completion/template.php
home/bitrix/www/local/components/bitrix/button/btn.php
home/bitrix/www/local/components/button/btn.php
1.php
index.html
home/bitrix/www/local/components/button/mycomponent/.description.php
home/bitrix/www/local/components/button/mycomponent/class.php
home/bitrix/www/local/components/button/mycomponent/template/template.php
home/bitrix/www/local/components/button/mycomponent/template/default/template.php
home/bitrix/www/local/components/button/template/default/template.php
home/bitrix/www/local/components/demo/button/.description.php
home/bitrix/www/local/components/demo/lesson_complete_button/component.php
home/bitrix/www/local/components/mycomponents/complete_lesson.php
home/bitrix/www/local/components/your_company/lesson_completion/class.php
home/bitrix/www/local/components/your_company/lesson_completion/default.php
home/bitrix/www/local/components/your_company/lesson_completion/template.php
home/bitrix/www/local/templates/test/components/bitrix/button/script.js
home/bitrix/www/local/templates/test/components/bitrix/button/template.php
home/bitrix/www/local/templates/test/components/bitrix/news.list/show_more_news/template.php
